<div class="row sm-login-frm">
  <div class="col-md-3 col-md-offset-4">
    <form class="form-horizontal">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="username"/>
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="password"/>
      </div>
      
      <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-default"/>
      </div>
      
    </form>
  </div>
</div>